body{
    letter-spacing: 0;
}
.photo{
    max-width: 100%;
    margin-bottom: 5%;
}

.icon{
    height: 12vh;
}

.icon:hover{
    height: 15vh;
    transition-duration: 1s;
}

.js{
    width: auto
}

.icon_container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.icon_containerb{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.skills{
    text-align: center;
    margin-bottom: 5%;
    color: white;
}

.reali{
    text-align: center;
    margin-bottom: 5%;
}

.textfront{
    margin-left: 10%;
}

.back{
    margin-top: 5%;
}

.about{
    padding-top: 0;
}

.projects-section{
    padding: 5% 0;
}

.expblock{
    background: #161616 !important;
}

.imagecoolrow{
    justify-content: center; 
}

.left_to_right{
    margin-bottom: 1%;
}

.imagecoolrow2{
    display: flex;
    justify-content: center;
}

.peetch{
    font-size: 1.2em;
}

.signup-section{
    background: linear-gradient(to bottom,rgba(22,22,22,.1) 0,rgba(22,22,22,.5) 75%,#161616 100%),url(../img/wallpp1.jpg);
    padding: 4rem 0;
}

.realisations{
    padding-bottom: 0;
}

.real{
    background:#f8f9fa;
    border-bottom: 1px solid black;
}

.pdfbutton {
    margin-bottom: 3rem;
    margin-top: 2rem;
    background: #121213 !important ;
}

.about-section p {
    margin-bottom: 0;
}

.phoneicon{
    height: 5vh;
}

.mailicon{
    height: 5vh;
}

@media (max-width: 640px) {
    .flexcol{
        flex-direction: column;
    }
}



