.photo{
    max-width: 25%;
    margin-bottom: 5%;
}

.icon{
    height: 12vh;
}

.icon:hover{
    height: 15vh;
    transition-duration: 1s;
}

.js{
    width: auto
}

.icon_container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.icon_containerb{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.skills{
    text-align: center;
    margin-bottom: 5%;
}

.textfront{
    margin-left: 10%;
}

.back{
    margin-top: 5%;
    padding-bottom: 21%;
}

.skillsblock{
    padding: 5rem 0;
}

.about{
    padding-top: 0;
}