body{
    letter-spacing: 0;
}
.photo{
    max-width: 100%;
    margin-bottom: 5%;
}

.icon{
    height: 12vh;
}

.icon:hover{
    height: 15vh;
    transition-duration: 1s;
}

.js{
    width: auto
}

.icon_container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.icon_containerb{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.skills{
    text-align: center;
    margin-bottom: 5%;
}

.textfront{
    margin-left: 10%;
}

.back{
    margin-top: 5%;
    padding-bottom: 21%;
}

.about{
    padding-top: 0;
}

.projects-section{
    padding: 5% 0;
}

.expblock{
    padding: 0;
}

.imagecoolrow{
    justify-content: center; 
}

.left_to_right{
    margin-bottom: 1%;
}

.imagecoolrow2{
    display: flex;
    justify-content: center;
}

.peetch{
    font-size: 1.2em;
}